/* 留言板(僅前端) */

#container{
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 0 auto;
}
#comment-box{
    background-color: #ffffff0d;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    word-wrap: break-word;
}
p{
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    color: #fff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#name{
    margin-left: 234px;
    width: 20%;
    height: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 26px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.header{
    margin:45px 20px;
    font-size: 23px;
    font-weight: 600;
}
textarea{
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee;
    padding: 10px;
    border-radius: 26px;
    margin-bottom: 15px;
    margin-left: 80px;
    resize: none;
    width: 71%;
    height: 100px;
    padding-top: 10px;

}
hr{
    border: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
span.date{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    float: right;
    font-size: 12px;
    font-weight: 300;
    margin-right: 20px;
}
#btn-submit{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    margin-left: 450px;
    color: black;
    font-size:10px;
    width: 10%;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}


#btn-submit:hover{
    color: black;
    background: linear-gradient(200deg,#fff);
}

#commentslist{
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    height: 500px;
    align-items: center;
    font-size: 14px;
    border-radius: 15px;
    bottom: 10px;
    margin-bottom: 10px auto;
    color: #fff;
    padding-top: 10px;
}

.messagelist{
    padding: 30px;
    color: #fff;
}