.snow-container {
    width: 90%; /* 減少容器寬度，限制雪花範圍 */
    margin: 0 auto; /* 水平居中 */
    overflow:hidden; /* 隱藏超出容器的雪花 */
    height: 100%;
    margin: 0;
    pointer-events: none; /* 阻止事件 */
}

.snow{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* 垂直水平居中 */
    margin: auto;
    transform: translate(0, -100%);
    animation: snowing infinite linear;
    pointer-events: none;
}

.foreground{
    background-size: 600px;
    opacity:20% ;
    animation-duration: 20s;
    background-image: url(image/snow.png);
}

.foreground.layer{
    animation-delay: 12.5s; /* 延遲時間是總時間/2 */
}

.background{
    background-size: 650px;
    opacity:40% ;
    animation-duration: 25s;
    background-image: url(image/snow.png);
}

.background.layer{
    animation-delay: 22.5s;
}

@keyframes snowing {
    100%{
        transform: translateY(90%); /* 只掉落到視窗底部，不超出 */
    }
}