
.stoll {
    width: 1000px;
    margin: 0 auto;
    height: 400px;
    padding: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    line-height: 28px;
}

.section1{
    background-image: url('image/1/IMG_0921.jpg');
    text-shadow: 5px 4px 5px #3b3b3b;
    font-weight: bold;
    font-family: 'monospace';
    color: white;
    font-size: 16px;
    text-align: center;
}

.section2{
background-image: url('image/2/IMG_7936.JPG');
background-position: 100px -1300px;
text-shadow: 5px 4px 5px #3b3b3b;
font-weight: bold;
color: white;
text-align: center;
}

.p1{
font-size: 14px;
font-family: 'Trebuchet MS';
border: 1px solid white;
padding: 8px 10px;
border-radius: 5px; /*圓角 */

}

@media (max-width: 500px) {
    body {
        flex-wrap: wrap; /* 允許子元素換行 */
        height: 100%; /* 設定高度為 100% */
        width: 500px; /* 設定寬度為 500px */
    }

    .container {
        display: flex;
        flex-wrap: wrap; /* 允許容器內的元素換行 */
    }
}